.login {
background: url("../images/login/imac.png") 0 0 no-repeat;
background-size: 940px 778px;
color: #68696a;
margin-bottom: 77px;
padding: 38px 38px 267px;
position: relative;
text-align:center;
}
.login-screen {
background: url("../images/login-bg.png") 0 0 no-repeat;
min-height: 473px;
margin-right: 35px;
padding-top:100px;
}
.login-icon {
left: 200px;
position: absolute;
top: 180px;
width: 96px;
}
.login-icon > h4 {
font-size: 17px;
font-weight: 200;
line-height: 34px;
opacity: 0.95;
margin-top: 4px;
}
h4 small{
	font-size:15px;
	color:#ebebeb;
}
.login-form {
background-color: #ffffff;
border-radius: 6px;
padding: 10px 23px 20px;
position: relative;
border:3px;
border-color:#000000;

}
html{
	background:#d3d9de;
}
