/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  background: #ebebeb;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
a.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #357ebd;
  border-color: #357ebd;
}

.content-wrapper {
background: #ffffff;
border: solid 1px #e1e1e1;
-webkit-box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
min-height: 478px;
padding: 20px;
}
article{
display: block;
}
.article-title {
padding-bottom: 10px;
margin: 0;
font-size: 20px;
position: relative;
border-bottom: solid 1px #e1e1e1;
margin-bottom: 10px;
padding-right: 40px;
}
.bl {
	border-bottom: solid 1px #e1e1e1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.nonbl{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.form-horizontal .form-group {
margin-right: 2px;
margin-left: 2px;
}
th {
text-align: center;
}
td {
text-align: center;
}
.firstLeft{
	width:200px
}
